@import '../../../utils/partials/mixins';

#main-layout {
  min-height: 100vh;
  max-width: 100vw;

  #inner-layout {
    @include display(flex, '', '', row);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    .main-content__container {
      transition: margin-left 0.5s;

      &.content-shrink {
        margin-left: 250px;
      }

      &.content-grow {
        margin-left: 0;
      }
    }
  }
}

.navbar__style {
  @include display(flex, flex-end);
  align-items: center;

  a {
    margin-right: 1.5rem;
  }
}
